*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    ;
    color: white;
    font-family: 'Poppins', sans-serif;

}

.heading{
    display: flex;
    justify-content: center;
}

.search-form{
    min-height: 10vh;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.search-input{
    width: 50%;
    margin: 0px 5px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.search-button{
    background: #123597;
    border: none;
    width: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-size: 1.2rem;
}

.recepies{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.recipe{
    max-width: 400px;
    max-height: 1000px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #888;
}

.ingredient-list{
    list-style-type: none;
    padding-left: 15px;
}

.image{
    border-radius: 50%;
}